@ms-ofb:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/EmployeeExperience/npm/registry/
@microsoft:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/Digital-Workplace/npm/registry/
@coherence-design-system:registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/SE-DES-Coherence/npm/registry/
@m365-admin:registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/SE-DES-Coherence/npm/registry/
@ms:registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/SE-DES-Coherence/npm/registry/
"registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/OneITVSO_PublicPackages/npm/registry/
always-auth=true
