@employee-experience:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/EmployeeExperience/npm/registry/
always-auth=true
@cseo:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/EmployeeExperience/npm/registry/
always-auth=true
@m365-admin:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/EmployeeExperience/npm/registry/
always-auth=true
@ms-ofb:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/EmployeeExperience/npm/registry/
always-auth=true
@microsoft:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/EmployeeExperience/npm/registry/
always-auth=true
